{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="about-me">

        <div class="g-grid">

            <div class="g-block size-65">
                <div class="g-content">
                    <div class="wow fadeInUp animated short-info">

                        <div>
                            {{ particle.bio }}
                        </div>

                        <div class="g-grid">
                            {% for hobby in particle.hobbies %}
                                <div {% if hobby.id %}id="{{ hobby.id|e }}"{% endif %}
                                     class="center g-block {{ hobby.class }} {{ hobby.variations }}">
                                    <div>
                                        {% if hobby.icon %}
                                            <i class="{{ hobby.icon }}"></i>
                                        {% endif %}
                                        <h4>{{ hobby.title|raw }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="wow fadeInUp animated download-button">

                        <a class="btn btn-primary" href="#contact">
                            <i class="fa fa-paper-plane"></i> Contacto
                        </a>

                        <a class="btn btn-secondary" href="#">
                            <i class="fa fa-download"></i> Mi CV
                        </a>

                    </div>

                </div>
            </div>

            <div class="g-block size-35">
                <div class="g-content">
                    <div class="biography">

                        {% if particle.photo %}
                            <div class="myphoto">
                                <img src="{{ url(particle.photo) }}" alt="Photo">
                            </div>
                        {% endif %}
                        <ul>
                            {% if particle.name %}
                                <li><i class="fa fa-user fa-lg"></i> {{ particle.name }}</li>
                            {% endif %}

                            {% if particle.birth %}
                                <li><i class="fa fa-calendar fa-lg"></i> {{ particle.birth }}</li>
                            {% endif %}

                            {% if particle.phone %}
                                <li><i class="fa fa-phone fa-lg"></i> {{ particle.phone }}</li>
                            {% endif %}

                            {% if particle.email %}
                                <li><i class="fa fa-envelope fa-lg"></i> {{ particle.email }}</li>
                            {% endif %}

                            {% if particle.address %}
                                <li>
                                    <div class="g-grid">
                                        <div class="g-block size-30">
                                            <i class="fa fa-address-card fa-lg"></i>
                                        </div>
                                        <div class="g-block size-70">
                                            {{ particle.address }}
                                        </div>
                                    </div>

                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}